---
title: "Codebites"
permalink: codebites/
show_blog_additions: False
---
{% for category in site.categories %}
  {%- capture category_name -%}{{ category | first }}{%- endcapture -%}
  {% if category_name == 'codebites' %}
    {% continue %}
  {% endif %}
  {%- assign bite_initialized = false -%}
  {%- assign category_posts = site.categories[category_name] | sort: 'title' %}
  {% for post in category_posts %}
    {%- unless post.codebite == true -%}
      {%- continue -%}
    {%- endunless -%}
    {%- if bite_initialized == false -%}
      {%- assign bite_initialized = true -%}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>
      
      <h3 class="category-head">{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      <ul>
    {%- endif -%}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {%- if bite_initialized == true -%}
    </ul>
  {%- endif -%}
{% endfor %}