<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Niklas Buschmann 2015 MIT <http://github.com/niklasbuschmann> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <link href="{{ '/main.css' | prepend: site.url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/css/fonts.css' | prepend: site.url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/font-awesome/css/font-awesome.min.css' | prepend: site.url }}" rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "/feed.xml" | prepend: site.url }}">
    {% if site.comments.isso %}
      <!-- Comments powered by isso -->
      {% if page.show_blog_additions != false %}
        {% if page.comments %}<script data-isso="https://{{ site.comments.isso }}" src="https://{{ site.comments.isso }}/js/embed.min.js"></script>
        {% else %}<script data-isso="https://{{ site.comments.isso }}" src="https://{{ site.comments.isso }}/js/count.min.js"></script>{% endif %}
      {% else %} <!-- '{{ page.show_blog_additions }}' -->
      {% endif %}
    {% else %}<!-- Problem with isso parsing -->
    {% endif %}
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "We may use cookies for one or more of the following features: To personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners.",
    "dismiss": "Okay",
    "href": "{{ '/privacy-statement/' | prepend: site.url }}"
  }
})});
</script>

    <!-- End Cookie Consent plugin -->
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="https://piwik.tillwiese.de/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://piwik.tillwiese.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
{% comment %}
        <!-- Adsense Auto ads -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7586970907106458",
              enable_page_level_ads: true
         });
        </script>
        <!-- End Adsense Auto ad block -->
{% endcomment %}
  </head>
  <body>
    <header>
      {% unless site.style.headline %}<h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>{% endunless %}
      <nav>
        <ul>
          <li><a href="{{ site.url }}/">Home</a></li>
      {% for node in site.pages %}{% if node.title and node.title != 'Impress' and node.title != 'Privacy Statement' %}<li><a href="{{ node.url | prepend: site.url }}"{% if page.url == node.url %} id="selected"{% endif %}>{{ node.title }}</a></li>{% endif %}{% endfor %}
          <li><form method="get" id="search" action="https://duckduckgo.com/"><input type="hidden" name="sites" value="adminswerk.de"/>
            <input type="hidden" name="kj" value="#3f3f3f"/><input type="hidden" name="kx" value="b">
            <input type="text" name="q" maxlength="200" placeholder="Search"/>
            <input type="submit" value="DuckDuckGo Search" hidden />
          </form></li>
        </ul>
      </nav>
    </header>
    {% if site.style.headline %}<div><h1><a href="{{ site.url }}/">{{ site.title }}</a></h1></div>{% endif %}
    {% if site.subheading %}<div>{{ site.subheading }}</div>{% endif %}
    {{ content }}
    <footer>
      <span><a href="{{ site.url }}/impress/">Impress</a> • <a href="{{ site.url }}/privacy-statement/">Privacy</a></span>
      <span>{% for link_hash in site.links %}{% for link in link_hash %}<a href="{{ link[1] }}"><i class="fa fa-{{ link[0] }}-square"></i></a>{% endfor %}{% endfor %}</span>
      <span><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{site.url}}/assets/images/main/cc-by-sa.png" /></a></span>
    </footer>
  </body>
</html>
