---
layout: blank
---
<article>
      <header>
        <h2><a href="{{ page.url | prepend: site.url }}">{{ page.title }}</a></h2>
        <div id="post_header_info">{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • <span class="categorylisting">
          {% for category in page.categories %}
            <a href="{{ site.url }}/category/{{ category | downcase }}">{{ category }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
          </span>• {% endif %}{% if page.show_blog_additions != false %}<a href="{{ page.url | prepend: site.url}}#isso-thread" class="header_comment">Comments</a> {{ page.show_blog_additions }}{% endif %}
        </div>
      </header>
      <div>
        {% include adsense_top.html %}

        {{ content }}
        
        {% include adsense_bottom.html %}
        {% if page.show_blog_additions != false %}
          <div class="related">
            <b>Related Posts</b>
            <ul>
              {% comment %}
                Iterate through all categories of the post and afterwards through related posts until 'related_post_count_max' posts have been found
              {% endcomment %}
              {% assign related_post_count = 0 %}
              {% assign related_post_count_max = 3 %}     
              {% for category in page.categories %}         
                {% for related in site.categories[category] %}
                  {% unless page.url == related.url %}
                    {% assign related_post_count = related_post_count | plus: 1 %}
                    <li><a href="{{ related.url | prepend: site.url }}">{{ related.title }}</a></li>
                  {% endunless %}
                  {% if related_post_count == related_post_count_max %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% if related_post_count == related_post_count_max %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% unless related_post_count == related_post_count_max %}
                {% for post in site.related_posts %}
                  {% assign related_post_count = related_post_count | plus: 1 %}
                  <li><a href="{{post.url | prepend: site.url}}">{{ post.title }}</a></li>
                  {% if related_post_count == related_post_count_max %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endunless %}
            </ul>
          </div>
      </div>
        {% if site.comments.isso and page.comments != false %}
        <div id="isso-thread"></div>
        <a href="https://posativ.org/isso/" id="isso-brlink">comments powered by <b>isso</b></a></div>
        <div style="padding-top:1em">
          {% include ad_amazon_ezlink.html %}
        </div>
        {% endif %}
      {% else %}
        </div>
      {% endif %}


    </article>
