<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Niklas Buschmann 2015 MIT <http://github.com/niklasbuschmann> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
    <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    {% if site.comments.isso %}
      {% if page.comments %}<script data-isso="http://{{ site.comments.isso }}" src="//{{ site.comments.isso }}/js/embed.min.js"></script>
      {% elsif page.title %}<script data-isso="http://{{ site.comments.isso }}" src="//{{ site.comments.isso }}/js/count.min.js"></script>{% endif %}
    {% endif %}
  </head>
  <body>
    <header>
      {% unless site.style.headline %}<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>{% endunless %}
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">H0me</a></li>
      {% for node in site.pages %}{% if node.title and node.title != 'Impress' %}<li><a href="{{ node.url | prepend: site.baseurl }}"{% if page.url == node.url %} id="selected"{% endif %}>{{ node.title }}</a></li>{% endif %}{% endfor %}
          <li><form method="get" id="search" action="http://duckduckgo.com/"><input type="hidden" name="sites" value="blog.till-wiese.de"/>
            <input type="hidden" name="kj" value="#3f3f3f"/><input type="hidden" name="kx" value="b">
            <input type="text" name="q" maxlength="200" placeholder="Search"/>
            <input type="submit" value="DuckDuckGo Search" hidden />
          </form></li>
        </ul>
      </nav>
    </header>
    {% if site.style.headline %}<div><h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1></div>{% endif %}
    {% if site.subheading %}<div>{{ site.subheading }}</div>{% endif %}
    <article>
          <header>
            <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
            <div id="post_header_info">{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • {{ page.categories | array_to_sentence_string }} • {% endif %}<a href="{{ page.url | prepend: site.baseurl}}#isso-thread" class="header_comment">Comments</a>
          </header>
          <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- id10t_top -->
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7586970907106458"
          data-ad-slot="1161208442"
          data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
    {{ content }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- id10t_bottom -->
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7586970907106458"
     data-ad-slot="8405273641"
     data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
          </div>
          {% if site.comments.isso and page.comments %}
          <div id="isso-thread"></div>
          <a href="http://posativ.org/isso/" id="isso-brlink">comments powered by <b>isso</b></a></div>
          {% endif %}
        </article>

    <footer>
      <span><a href="{{ site.url }}/impress/">Impress</a></span>
      <span>{% for link_hash in site.links %}{% for link in link_hash %}<a href="{{ link[1] }}"><i class="fa fa-{{ link[0] }}-square"></i></a>{% endfor %}{% endfor %}</span>
      <span><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></span>
    </footer>
  </body>
</html>
